<div class="banner-image">
  <div class="inner-text">
    <div class="title-box px-4">What to read next?</div>
    <div class="data-box">
      Get better book recomendations, based on what others choose.
    </div>
  </div>
</div>

<div class="bg-white flex h-1/2 py-24 w-full">
  <div style="width: 40%">
    <div class="bg-white image-container ml-10 shadow-3xl relative">
      <img src="assets/images/banner-2.jpg" class="fixed image-data" />
    </div>
  </div>
  <div class="text-black" style="width: 50%">
    <h3 class="font-bold text-2xl text-white bg-black text-headline mb-4">
      Why ratings matter?
    </h3>
    <article class="text-justify mb-2">
      In the world where data is plenty and choices can make all the diffence.
      For the sake of text, here is Loerm Ipsum. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. In consectetur lobortis sapien, nec
      condimentum dolor sollicitudin quis. Duis sodales augue ac nibh ornare,
      sed aliquam orci aliquam. Aliquam sed velit ac sem ullamcorper feugiat sit
      amet et sem. Integer volutpat tortor sit amet justo posuere ornare a in
      orci. Praesent purus quam, sodales vel sapien at, euismod convallis orci.
      Duis vestibulum nulla nec mauris venenatis, eget pellentesque purus
      fringilla. Donec tempor libero sed nibh vehicula elementum. Pellentesque
      habitant morbi tristique senectus et netus et malesuada fames ac turpis
      egestas. Maecenas imperdiet interdum nulla ac lacinia.
    </article>
    <button
      class="px-4 py-2 bg-white text-black border border-black hover:bg-black hover:text-white"
      routerLink="/books"
    >
      Browse Books
    </button>
  </div>
</div>

<a href="https://icons8.com/icon/435/facebook" style="display: none"
  >Facebook icon by Icons8</a
>
